   VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ6cnlua2hpcmh4aWJnZmRtbGV4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzQ3MDk3MzcsImV4cCI6MjA1MDI4NTczN30.IWWrDtLQpC6yGt3emnYqVL7t0UUtm36BKlHwHpjiA7I
   VITE_SUPABASE_URL=https://bzrynkhirhxibgfdmlex.supabase.co